Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/NewMap.umap
Content/NewMap_HLOD0_Instancing.uasset
Content/StarterContent/Maps/StarterMap.umap
Content/StarterContent/Maps/StarterMap.umap
